[submodule "themes/hugo-blog-newcss"]
	path = themes/hugo-blog-newcss
	url = https://github.com/Permanently/hugo-blog-newcss
[submodule "themes/hugo-blog-awesome"]
	path = themes/hugo-blog-awesome
	url = https://github.com/ShiiFu/hugo-blog-awesome.git
	branch = fix-hugo-v0.156.0
